<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IKA Manuel Control UI</title>
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container-fluid" id="container">
        <div class="row">
            <div class="col-1 text-center" id="sidebar">
                <img src="static/logo.jpeg" alt="Logo" class="logo">
              <div class="camera-id  mb-1" id="camera-id"></div>
              <div class="camera-info" id="camera-info">No camera</div>
            </div>
            <div class="col-11 content" id="content">
                <div class="video-container" id="video-container">
                    <div class="cursor" id="cursor">
                        <div class="vertical-line" id="vertical-line"></div>
                        <div class="horizontal-line" id="horizontal-line"></div>
                    </div>
                    <img id="video" alt="video">
                </div>

            </div>
            <div class="leftscreen" id="leftscreen">
                <img src="" >
            </div>
    </div>
    <script src="static/bootstrap.min.js"></script>
    <script src="static/script.js"></script>
</body>
</html>
